.col-1 { width: 8.33%}
.col-2 { width: calc(8.33% * 2)}
.col-3 { width: calc(8.33% * 3)}
.col-4 { width: calc(8.33% * 4)}
.col-5 { width: calc(8.33% * 5)}
.col-6 { width: calc(8.33% * 6)}
.col-7 { width: calc(8.33% * 7)}
.col-8 { width: calc(8.33% * 8)}
.col-9 { width: calc(8.33% * 9)}
.col-10 { width: calc(8.33% * 10)}
.col-11 { width: calc(8.33% * 11)}
.col-12 { width: calc(8.33% * 12)}

@media (max-width:767px) {
    [class*="col-" ] {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    [class*="col-" ] {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Código base para traçar colunas na tela, para orientação do posicionamento (orientação para dev)*/
.bg-red {
    background-color: rgba($color: #ff0000, $alpha: .2);
    height: 100vh;
    width: 98%;
    margin: 0 auto;
    display: block;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    width: 100%;
}