header .container {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 2rem;
    margin: 0 auto;

    @media screen and (max-width:854px) and (min-width: 320px) {
        display: block;
    }

    @media screen and (max-width: 755px) and (min-width: 320px) {
        padding: 0;
    }

    .logo{
        display: flex;
        justify-content: center;

        @media screen and (max-width:854px) and (min-width: 320px) {
            margin: 0 auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @media screen and (max-width: 755px) and (min-width: 320px) {
            display: none;
        }
    }

    .nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media screen and (max-width:854px) and (min-width: 756px) {
            width: 100%;
            justify-content: center;
        }

        @media screen and (max-width: 755px) and (min-width: 320px) {
            display: none;
        }

        &__item {
            color: $font-color-primary;
            margin: 0 20px;
            font-size: $font-size-nav;
            text-decoration: none;
            position: relative;
            &:hover{
                color: $color-secondary;
                animation: toTop;
                animation-duration: 1.5s;
            }

            @media (max-width: 1267px){
                font-size: $font-size-title;
                margin: 0 10px;
            }

            @media (max-width: 783px){
                font-size: $font-btn;
            }
        }

        &__btn {
            height: 30px;
            color: $font-color-primary;
            background-color: $color-secondary;
            border-radius: 10px;
            border: 2px solid $font-color-primary;
            font-size: $font-btn;
            font-weight: 700;
            text-align: center;
            &:hover {
                color: $color-secondary;
                background-color: $font-color-primary;
                border: 3px solid $color-secondary;
                cursor: pointer;
            }
            @media (max-width: 783px){
                width: 20%;
            }
        }
        &__input {
            height: 25px;
            color: $color-secondary;
            border-radius: 10px;
            border: 2px solid $color-secondary;
            font-size: $font-btn;
            margin-right: 10px;
            padding-left: 10px;
            &:hover {
                box-shadow: 1px 1px 10px #f58220;
            }
            @media (max-width: 783px){
                width: 30%;
                height: 30px;
                margin-left: 20px;
            }
        }
    }
}

header .menu {
    display: none;

    &__mobile {
        list-style: none;
    }

    @media screen and (max-width: 755px) and (min-width: 320px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        a {
            float: right;
            background-color: $font-color-primary;
        }
    }
}