#produtos {
    width: 100%;
<<<<<<< HEAD
    background-color: $bg-color;

=======
    background-color: $color-06;
    padding: 20px 50px;

    h1 {
        font-size: $font-size-large;
        color: $color-primary;
        font-weight: 700;
        text-align: center;
        margin-bottom: 80px;
    }
>>>>>>> 64473ee8dfd8cc49fdcb36eb1237bfed0be5e03a
}