<<<<<<< HEAD
$bg-color: #dcdcdc;
$color-primary: #195484;
$color-secondary: #f58220;
$color-03: #195484;
$color-04: #fab73a;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;
=======
$color-primary: #073a63;
$color-secondary: #f58220;
$color-03: #195484;
$color-04: #fab73a;
$color-05: #b1afaf;
$color-06: #daeef7;
$color-07: #fcdea6;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: Arial, Helvetica, sans-serif;
$font-size-large: 2.5rem;
$font-size-default: 1.8rem;
$font-size-nav: 1.6rem;
$font-size-title: 1.2rem;
>>>>>>> 64473ee8dfd8cc49fdcb36eb1237bfed0be5e03a
$font-btn: 1rem;