@import '__vars';
@import '__header';
@import '__animation';
@import '__intro';
@import '__produtos';
@import '__vitrine';
@import '__steps';
@import '__depoimentos';
@import '__footer';

html {
    font-size: 62,5%;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 0 auto 0 auto;
    padding: 0;
    height: auto;
    max-width: 1440px;
}

header {
    display: block;
    width: 100%;
}